NIFI/flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<flowController encoding-version="1.4">
  <maxTimerDrivenThreadCount>10</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>1</maxEventDrivenThreadCount>
  <registries/>
  <parameterContexts/>
  <rootGroup>
    <id>a69cb556-0181-1000-2fb1-bf1940138dd0</id>
    <name>NiFi Flow</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
    <processor>
      <id>a6a68561-0181-1000-0e02-8d9731937249</id>
      <name>PutS3Object</name>
      <position x="1016.0" y="280.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.aws.s3.PutS3Object</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-aws-nar</artifact>
        <version>1.16.3</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Object Key</name>
        <value>${filename}</value>
      </property>
      <property>
        <name>Bucket</name>
        <value>s3://raw-bckt-st/st_raw/st_trips_raw/</value>
      </property>
      <property>
        <name>Content Type</name>
      </property>
      <property>
        <name>Content Disposition</name>
        <value>inline</value>
      </property>
      <property>
        <name>Cache Control</name>
      </property>
      <property>
        <name>Access Key</name>
        <value>enc{a47a03a0d1165774f8d5d0ae9cc90b364ceeb93f47b7a}</value>
      </property>
      <property>
        <name>Secret Key</name>
        <value>enc{5f224a14075b64360015880b896d4e5e15cd3a733d4f3}</value>
      </property>
      <property>
        <name>Credentials File</name>
      </property>
      <property>
        <name>AWS Credentials Provider service</name>
      </property>
      <property>
        <name>s3-object-tags-prefix</name>
      </property>
      <property>
        <name>s3-object-remove-tags-prefix</name>
        <value>false</value>
      </property>
      <property>
        <name>Storage Class</name>
        <value>Standard</value>
      </property>
      <property>
        <name>Region</name>
        <value>us-east-1</value>
      </property>
      <property>
        <name>Communications Timeout</name>
        <value>30 secs</value>
      </property>
      <property>
        <name>Expiration Time Rule</name>
      </property>
      <property>
        <name>FullControl User List</name>
        <value>${s3.permissions.full.users}</value>
      </property>
      <property>
        <name>Read Permission User List</name>
        <value>${s3.permissions.read.users}</value>
      </property>
      <property>
        <name>Write Permission User List</name>
        <value>${s3.permissions.write.users}</value>
      </property>
      <property>
        <name>Read ACL User List</name>
        <value>${s3.permissions.readacl.users}</value>
      </property>
      <property>
        <name>Write ACL User List</name>
        <value>${s3.permissions.writeacl.users}</value>
      </property>
      <property>
        <name>Owner</name>
        <value>${s3.owner}</value>
      </property>
      <property>
        <name>canned-acl</name>
        <value>${s3.permissions.cannedacl}</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Endpoint Override URL</name>
      </property>
      <property>
        <name>Signer Override</name>
        <value>Default Signature</value>
      </property>
      <property>
        <name>Multipart Threshold</name>
        <value>5 GB</value>
      </property>
      <property>
        <name>Multipart Part Size</name>
        <value>5 GB</value>
      </property>
      <property>
        <name>Multipart Upload AgeOff Interval</name>
        <value>60 min</value>
      </property>
      <property>
        <name>Multipart Upload Max Age Threshold</name>
        <value>7 days</value>
      </property>
      <property>
        <name>s3-temporary-directory-multipart</name>
        <value>${java.io.tmpdir}</value>
      </property>
      <property>
        <name>server-side-encryption</name>
        <value>None</value>
      </property>
      <property>
        <name>encryption-service</name>
      </property>
      <property>
        <name>use-chunked-encoding</name>
        <value>true</value>
      </property>
      <property>
        <name>use-path-style-access</name>
        <value>false</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Host Port</name>
      </property>
      <property>
        <name>proxy-user-name</name>
      </property>
      <property>
        <name>proxy-user-password</name>
      </property>
    </processor>
    <processor>
      <id>a6a5d116-0181-1000-33cb-b20efcb27c65</id>
      <name>ListSFTP</name>
      <position x="312.0" y="48.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.ListSFTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.16.3</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>PRIMARY</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>listing-strategy</name>
        <value>timestamps</value>
      </property>
      <property>
        <name>Hostname</name>
        <value>181.174.75.121</value>
      </property>
      <property>
        <name>Port</name>
        <value>22</value>
      </property>
      <property>
        <name>Username</name>
        <value>srjefers</value>
      </property>
      <property>
        <name>Password</name>
      </property>
      <property>
        <name>Private Key Path</name>
      </property>
      <property>
        <name>Private Key Passphrase</name>
      </property>
      <property>
        <name>Remote Path</name>
        <value>/home/srjefers/Documents/TMP/move</value>
      </property>
      <property>
        <name>record-writer</name>
      </property>
      <property>
        <name>Distributed Cache Service</name>
      </property>
      <property>
        <name>Search Recursively</name>
        <value>false</value>
      </property>
      <property>
        <name>follow-symlink</name>
        <value>false</value>
      </property>
      <property>
        <name>File Filter Regex</name>
      </property>
      <property>
        <name>Path Filter Regex</name>
      </property>
      <property>
        <name>Ignore Dotted Files</name>
        <value>true</value>
      </property>
      <property>
        <name>Strict Host Key Checking</name>
        <value>false</value>
      </property>
      <property>
        <name>Host Key File</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>30 sec</value>
      </property>
      <property>
        <name>Data Timeout</name>
        <value>30 sec</value>
      </property>
      <property>
        <name>Send Keep Alive On Timeout</name>
        <value>true</value>
      </property>
      <property>
        <name>target-system-timestamp-precision</name>
        <value>auto-detect</value>
      </property>
      <property>
        <name>Use Compression</name>
        <value>true</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>DIRECT</value>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Http Proxy Username</name>
      </property>
      <property>
        <name>Http Proxy Password</name>
      </property>
      <property>
        <name>et-state-cache</name>
      </property>
      <property>
        <name>et-time-window</name>
        <value>3 hours</value>
      </property>
      <property>
        <name>et-initial-listing-target</name>
        <value>all</value>
      </property>
      <property>
        <name>Minimum File Age</name>
        <value>0 sec</value>
      </property>
      <property>
        <name>Maximum File Age</name>
      </property>
      <property>
        <name>Minimum File Size</name>
        <value>0 B</value>
      </property>
      <property>
        <name>Maximum File Size</name>
      </property>
      <property>
        <name>Ciphers Allowed</name>
      </property>
      <property>
        <name>Key Algorithms Allowed</name>
      </property>
      <property>
        <name>Key Exchange Algorithms Allowed</name>
      </property>
      <property>
        <name>Message Authentication Codes Allowed</name>
      </property>
    </processor>
    <processor>
      <id>a6a60cd2-0181-1000-c06e-651b820c7865</id>
      <name>FetchSFTP</name>
      <position x="312.0" y="280.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.FetchSFTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.16.3</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Hostname</name>
        <value>181.174.75.121</value>
      </property>
      <property>
        <name>Port</name>
        <value>22</value>
      </property>
      <property>
        <name>Username</name>
        <value>srjefers</value>
      </property>
      <property>
        <name>Password</name>
      </property>
      <property>
        <name>Private Key Path</name>
      </property>
      <property>
        <name>Private Key Passphrase</name>
      </property>
      <property>
        <name>Remote File</name>
        <value>${path}/${filename}</value>
      </property>
      <property>
        <name>Completion Strategy</name>
        <value>None</value>
      </property>
      <property>
        <name>Move Destination Directory</name>
      </property>
      <property>
        <name>Create Directory</name>
        <value>false</value>
      </property>
      <property>
        <name>Disable Directory Listing</name>
        <value>false</value>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>30 sec</value>
      </property>
      <property>
        <name>Data Timeout</name>
        <value>30 sec</value>
      </property>
      <property>
        <name>Send Keep Alive On Timeout</name>
        <value>true</value>
      </property>
      <property>
        <name>Host Key File</name>
      </property>
      <property>
        <name>Strict Host Key Checking</name>
        <value>false</value>
      </property>
      <property>
        <name>Use Compression</name>
        <value>false</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>DIRECT</value>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Http Proxy Username</name>
      </property>
      <property>
        <name>Http Proxy Password</name>
      </property>
      <property>
        <name>fetchfiletransfer-notfound-loglevel</name>
        <value>ERROR</value>
      </property>
      <property>
        <name>Ciphers Allowed</name>
      </property>
      <property>
        <name>Key Algorithms Allowed</name>
      </property>
      <property>
        <name>Key Exchange Algorithms Allowed</name>
      </property>
      <property>
        <name>Message Authentication Codes Allowed</name>
      </property>
    </processor>
    <connection>
      <id>a6ab01ec-0181-1000-ed49-5fce42762d49</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a6a60cd2-0181-1000-c06e-651b820c7865</sourceId>
      <sourceGroupId>a69cb556-0181-1000-2fb1-bf1940138dd0</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a6a68561-0181-1000-0e02-8d9731937249</destinationId>
      <destinationGroupId>a69cb556-0181-1000-2fb1-bf1940138dd0</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>a6a7f549-0181-1000-594b-7b2d44844e84</id>
      <name>listFiles</name>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a6a5d116-0181-1000-33cb-b20efcb27c65</sourceId>
      <sourceGroupId>a69cb556-0181-1000-2fb1-bf1940138dd0</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a6a60cd2-0181-1000-c06e-651b820c7865</destinationId>
      <destinationGroupId>a69cb556-0181-1000-2fb1-bf1940138dd0</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <queuePrioritizerClass>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</queuePrioritizerClass>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <template encoding-version="1.3">
          
      <description>Process to fecth data from OnPromise Server to S3 Bucket</description>
          
      <id>057e6e6e-d829-487b-8a56-324eac7993a9</id>
          
      <name>tmplate_nifi_srvr_s3</name>
          
      <snippet>
                
        <connections>
                      
          <id>29238a13-ba9a-3bd7-0000-000000000000</id>
                      
          <parentGroupId>2c398586-faf9-3182-0000-000000000000</parentGroupId>
                      
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                      
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                      
          <destination>
                            
            <groupId>2c398586-faf9-3182-0000-000000000000</groupId>
                            
            <id>c8389821-33aa-36f2-0000-000000000000</id>
                            
            <type>PROCESSOR</type>
                        
          </destination>
                      
          <flowFileExpiration>0 sec</flowFileExpiration>
                      
          <labelIndex>1</labelIndex>
                      
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                      
          <loadBalancePartitionAttribute/>
                      
          <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                      
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                      
          <name>listFiles</name>
                      
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                      
          <selectedRelationships>success</selectedRelationships>
                      
          <source>
                            
            <groupId>2c398586-faf9-3182-0000-000000000000</groupId>
                            
            <id>fec951b7-f303-399a-0000-000000000000</id>
                            
            <type>PROCESSOR</type>
                        
          </source>
                      
          <zIndex>0</zIndex>
                  
        </connections>
                
        <connections>
                      
          <id>8e4daba8-89a3-3ea0-0000-000000000000</id>
                      
          <parentGroupId>2c398586-faf9-3182-0000-000000000000</parentGroupId>
                      
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                      
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                      
          <destination>
                            
            <groupId>2c398586-faf9-3182-0000-000000000000</groupId>
                            
            <id>4175d80c-4b84-3def-0000-000000000000</id>
                            
            <type>PROCESSOR</type>
                        
          </destination>
                      
          <flowFileExpiration>0 sec</flowFileExpiration>
                      
          <labelIndex>1</labelIndex>
                      
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                      
          <loadBalancePartitionAttribute/>
                      
          <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                      
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                      
          <name/>
                      
          <selectedRelationships>success</selectedRelationships>
                      
          <source>
                            
            <groupId>2c398586-faf9-3182-0000-000000000000</groupId>
                            
            <id>c8389821-33aa-36f2-0000-000000000000</id>
                            
            <type>PROCESSOR</type>
                        
          </source>
                      
          <zIndex>0</zIndex>
                  
        </connections>
                
        <processors>
                      
          <id>4175d80c-4b84-3def-0000-000000000000</id>
                      
          <parentGroupId>2c398586-faf9-3182-0000-000000000000</parentGroupId>
                      
          <position>
                            
            <x>704.0</x>
                            
            <y>232.0</y>
                        
          </position>
                      
          <bundle>
                            
            <artifact>nifi-aws-nar</artifact>
                            
            <group>org.apache.nifi</group>
                            
            <version>1.16.3</version>
                        
          </bundle>
                      
          <config>
                            
            <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                            
            <bulletinLevel>WARN</bulletinLevel>
                            
            <comments/>
                            
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            
            <descriptors>
                                  
              <entry>
                                        
                <key>Object Key</key>
                                        
                <value>
                                              
                  <name>Object Key</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Bucket</key>
                                        
                <value>
                                              
                  <name>Bucket</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Content Type</key>
                                        
                <value>
                                              
                  <name>Content Type</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Content Disposition</key>
                                        
                <value>
                                              
                  <name>Content Disposition</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Cache Control</key>
                                        
                <value>
                                              
                  <name>Cache Control</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Access Key</key>
                                        
                <value>
                                              
                  <name>Access Key</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Secret Key</key>
                                        
                <value>
                                              
                  <name>Secret Key</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Credentials File</key>
                                        
                <value>
                                              
                  <name>Credentials File</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>AWS Credentials Provider service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                                              
                  <name>AWS Credentials Provider service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>s3-object-tags-prefix</key>
                                        
                <value>
                                              
                  <name>s3-object-tags-prefix</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>s3-object-remove-tags-prefix</key>
                                        
                <value>
                                              
                  <name>s3-object-remove-tags-prefix</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Storage Class</key>
                                        
                <value>
                                              
                  <name>Storage Class</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Region</key>
                                        
                <value>
                                              
                  <name>Region</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Communications Timeout</key>
                                        
                <value>
                                              
                  <name>Communications Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Expiration Time Rule</key>
                                        
                <value>
                                              
                  <name>Expiration Time Rule</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>FullControl User List</key>
                                        
                <value>
                                              
                  <name>FullControl User List</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Read Permission User List</key>
                                        
                <value>
                                              
                  <name>Read Permission User List</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Write Permission User List</key>
                                        
                <value>
                                              
                  <name>Write Permission User List</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Read ACL User List</key>
                                        
                <value>
                                              
                  <name>Read ACL User List</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Write ACL User List</key>
                                        
                <value>
                                              
                  <name>Write ACL User List</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Owner</key>
                                        
                <value>
                                              
                  <name>Owner</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>canned-acl</key>
                                        
                <value>
                                              
                  <name>canned-acl</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>SSL Context Service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                              
                  <name>SSL Context Service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Endpoint Override URL</key>
                                        
                <value>
                                              
                  <name>Endpoint Override URL</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Signer Override</key>
                                        
                <value>
                                              
                  <name>Signer Override</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Threshold</key>
                                        
                <value>
                                              
                  <name>Multipart Threshold</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Part Size</key>
                                        
                <value>
                                              
                  <name>Multipart Part Size</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Upload AgeOff Interval</key>
                                        
                <value>
                                              
                  <name>Multipart Upload AgeOff Interval</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Upload Max Age Threshold</key>
                                        
                <value>
                                              
                  <name>Multipart Upload Max Age Threshold</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>s3-temporary-directory-multipart</key>
                                        
                <value>
                                              
                  <name>s3-temporary-directory-multipart</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>server-side-encryption</key>
                                        
                <value>
                                              
                  <name>server-side-encryption</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>encryption-service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                                              
                  <name>encryption-service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>use-chunked-encoding</key>
                                        
                <value>
                                              
                  <name>use-chunked-encoding</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>use-path-style-access</key>
                                        
                <value>
                                              
                  <name>use-path-style-access</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-configuration-service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                              
                  <name>proxy-configuration-service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host</key>
                                        
                <value>
                                              
                  <name>Proxy Host</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host Port</key>
                                        
                <value>
                                              
                  <name>Proxy Host Port</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-user-name</key>
                                        
                <value>
                                              
                  <name>proxy-user-name</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-user-password</key>
                                        
                <value>
                                              
                  <name>proxy-user-password</name>
                                          
                </value>
                                    
              </entry>
                              
            </descriptors>
                            
            <executionNode>ALL</executionNode>
                            
            <lossTolerant>false</lossTolerant>
                            
            <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                            
            <penaltyDuration>30 sec</penaltyDuration>
                            
            <properties>
                                  
              <entry>
                                        
                <key>Object Key</key>
                                        
                <value>${filename}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Bucket</key>
                                        
                <value>s3://raw-bckt-st/st_raw/st_trips_raw/</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Content Type</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Content Disposition</key>
                                        
                <value>inline</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Cache Control</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Access Key</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Secret Key</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Credentials File</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>AWS Credentials Provider service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>s3-object-tags-prefix</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>s3-object-remove-tags-prefix</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Storage Class</key>
                                        
                <value>Standard</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Region</key>
                                        
                <value>us-east-1</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Communications Timeout</key>
                                        
                <value>30 secs</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Expiration Time Rule</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>FullControl User List</key>
                                        
                <value>${s3.permissions.full.users}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Read Permission User List</key>
                                        
                <value>${s3.permissions.read.users}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Write Permission User List</key>
                                        
                <value>${s3.permissions.write.users}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Read ACL User List</key>
                                        
                <value>${s3.permissions.readacl.users}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Write ACL User List</key>
                                        
                <value>${s3.permissions.writeacl.users}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Owner</key>
                                        
                <value>${s3.owner}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>canned-acl</key>
                                        
                <value>${s3.permissions.cannedacl}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>SSL Context Service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Endpoint Override URL</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Signer Override</key>
                                        
                <value>Default Signature</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Threshold</key>
                                        
                <value>5 GB</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Part Size</key>
                                        
                <value>5 GB</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Upload AgeOff Interval</key>
                                        
                <value>60 min</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Multipart Upload Max Age Threshold</key>
                                        
                <value>7 days</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>s3-temporary-directory-multipart</key>
                                        
                <value>${java.io.tmpdir}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>server-side-encryption</key>
                                        
                <value>None</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>encryption-service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>use-chunked-encoding</key>
                                        
                <value>true</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>use-path-style-access</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-configuration-service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host Port</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-user-name</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-user-password</key>
                                    
              </entry>
                              
            </properties>
                            
            <retryCount>10</retryCount>
                            
            <runDurationMillis>0</runDurationMillis>
                            
            <schedulingPeriod>0 sec</schedulingPeriod>
                            
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            
            <yieldDuration>1 sec</yieldDuration>
                        
          </config>
                      
          <deprecated>false</deprecated>
                      
          <executionNodeRestricted>false</executionNodeRestricted>
                      
          <name>PutS3Object</name>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>failure</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>success</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <restricted>false</restricted>
                      
          <state>STOPPED</state>
                      
          <style/>
                      
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                  
        </processors>
                
        <processors>
                      
          <id>c8389821-33aa-36f2-0000-000000000000</id>
                      
          <parentGroupId>2c398586-faf9-3182-0000-000000000000</parentGroupId>
                      
          <position>
                            
            <x>0.0</x>
                            
            <y>232.0</y>
                        
          </position>
                      
          <bundle>
                            
            <artifact>nifi-standard-nar</artifact>
                            
            <group>org.apache.nifi</group>
                            
            <version>1.16.3</version>
                        
          </bundle>
                      
          <config>
                            
            <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                            
            <bulletinLevel>WARN</bulletinLevel>
                            
            <comments/>
                            
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            
            <descriptors>
                                  
              <entry>
                                        
                <key>Hostname</key>
                                        
                <value>
                                              
                  <name>Hostname</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Port</key>
                                        
                <value>
                                              
                  <name>Port</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Username</key>
                                        
                <value>
                                              
                  <name>Username</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Password</key>
                                        
                <value>
                                              
                  <name>Password</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Path</key>
                                        
                <value>
                                              
                  <name>Private Key Path</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Passphrase</key>
                                        
                <value>
                                              
                  <name>Private Key Passphrase</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Remote File</key>
                                        
                <value>
                                              
                  <name>Remote File</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Completion Strategy</key>
                                        
                <value>
                                              
                  <name>Completion Strategy</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Move Destination Directory</key>
                                        
                <value>
                                              
                  <name>Move Destination Directory</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Create Directory</key>
                                        
                <value>
                                              
                  <name>Create Directory</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Disable Directory Listing</key>
                                        
                <value>
                                              
                  <name>Disable Directory Listing</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Connection Timeout</key>
                                        
                <value>
                                              
                  <name>Connection Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Data Timeout</key>
                                        
                <value>
                                              
                  <name>Data Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Send Keep Alive On Timeout</key>
                                        
                <value>
                                              
                  <name>Send Keep Alive On Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Host Key File</key>
                                        
                <value>
                                              
                  <name>Host Key File</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Strict Host Key Checking</key>
                                        
                <value>
                                              
                  <name>Strict Host Key Checking</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Use Compression</key>
                                        
                <value>
                                              
                  <name>Use Compression</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-configuration-service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                              
                  <name>proxy-configuration-service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Type</key>
                                        
                <value>
                                              
                  <name>Proxy Type</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host</key>
                                        
                <value>
                                              
                  <name>Proxy Host</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Port</key>
                                        
                <value>
                                              
                  <name>Proxy Port</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Username</key>
                                        
                <value>
                                              
                  <name>Http Proxy Username</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Password</key>
                                        
                <value>
                                              
                  <name>Http Proxy Password</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>fetchfiletransfer-notfound-loglevel</key>
                                        
                <value>
                                              
                  <name>fetchfiletransfer-notfound-loglevel</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Ciphers Allowed</key>
                                        
                <value>
                                              
                  <name>Ciphers Allowed</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Algorithms Allowed</key>
                                        
                <value>
                                              
                  <name>Key Algorithms Allowed</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Exchange Algorithms Allowed</key>
                                        
                <value>
                                              
                  <name>Key Exchange Algorithms Allowed</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Message Authentication Codes Allowed</key>
                                        
                <value>
                                              
                  <name>Message Authentication Codes Allowed</name>
                                          
                </value>
                                    
              </entry>
                              
            </descriptors>
                            
            <executionNode>ALL</executionNode>
                            
            <lossTolerant>false</lossTolerant>
                            
            <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                            
            <penaltyDuration>30 sec</penaltyDuration>
                            
            <properties>
                                  
              <entry>
                                        
                <key>Hostname</key>
                                        
                <value>181.174.75.121</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Port</key>
                                        
                <value>22</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Username</key>
                                        
                <value>srjefers</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Password</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Path</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Passphrase</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Remote File</key>
                                        
                <value>${path}/${filename}</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Completion Strategy</key>
                                        
                <value>None</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Move Destination Directory</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Create Directory</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Disable Directory Listing</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Connection Timeout</key>
                                        
                <value>30 sec</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Data Timeout</key>
                                        
                <value>30 sec</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Send Keep Alive On Timeout</key>
                                        
                <value>true</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Host Key File</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Strict Host Key Checking</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Use Compression</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-configuration-service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Type</key>
                                        
                <value>DIRECT</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Port</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Username</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Password</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>fetchfiletransfer-notfound-loglevel</key>
                                        
                <value>ERROR</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Ciphers Allowed</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Algorithms Allowed</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Exchange Algorithms Allowed</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Message Authentication Codes Allowed</key>
                                    
              </entry>
                              
            </properties>
                            
            <retryCount>10</retryCount>
                            
            <runDurationMillis>0</runDurationMillis>
                            
            <schedulingPeriod>0 sec</schedulingPeriod>
                            
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            
            <yieldDuration>1 sec</yieldDuration>
                        
          </config>
                      
          <deprecated>false</deprecated>
                      
          <executionNodeRestricted>false</executionNodeRestricted>
                      
          <name>FetchSFTP</name>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>comms.failure</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>not.found</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>permission.denied</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>success</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <restricted>false</restricted>
                      
          <state>STOPPED</state>
                      
          <style/>
                      
          <type>org.apache.nifi.processors.standard.FetchSFTP</type>
                  
        </processors>
                
        <processors>
                      
          <id>fec951b7-f303-399a-0000-000000000000</id>
                      
          <parentGroupId>2c398586-faf9-3182-0000-000000000000</parentGroupId>
                      
          <position>
                            
            <x>0.0</x>
                            
            <y>0.0</y>
                        
          </position>
                      
          <bundle>
                            
            <artifact>nifi-standard-nar</artifact>
                            
            <group>org.apache.nifi</group>
                            
            <version>1.16.3</version>
                        
          </bundle>
                      
          <config>
                            
            <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                            
            <bulletinLevel>WARN</bulletinLevel>
                            
            <comments/>
                            
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            
            <descriptors>
                                  
              <entry>
                                        
                <key>listing-strategy</key>
                                        
                <value>
                                              
                  <name>listing-strategy</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Hostname</key>
                                        
                <value>
                                              
                  <name>Hostname</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Port</key>
                                        
                <value>
                                              
                  <name>Port</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Username</key>
                                        
                <value>
                                              
                  <name>Username</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Password</key>
                                        
                <value>
                                              
                  <name>Password</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Path</key>
                                        
                <value>
                                              
                  <name>Private Key Path</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Passphrase</key>
                                        
                <value>
                                              
                  <name>Private Key Passphrase</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Remote Path</key>
                                        
                <value>
                                              
                  <name>Remote Path</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>record-writer</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                                              
                  <name>record-writer</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Distributed Cache Service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                                              
                  <name>Distributed Cache Service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Search Recursively</key>
                                        
                <value>
                                              
                  <name>Search Recursively</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>follow-symlink</key>
                                        
                <value>
                                              
                  <name>follow-symlink</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>File Filter Regex</key>
                                        
                <value>
                                              
                  <name>File Filter Regex</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Path Filter Regex</key>
                                        
                <value>
                                              
                  <name>Path Filter Regex</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Ignore Dotted Files</key>
                                        
                <value>
                                              
                  <name>Ignore Dotted Files</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Strict Host Key Checking</key>
                                        
                <value>
                                              
                  <name>Strict Host Key Checking</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Host Key File</key>
                                        
                <value>
                                              
                  <name>Host Key File</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Connection Timeout</key>
                                        
                <value>
                                              
                  <name>Connection Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Data Timeout</key>
                                        
                <value>
                                              
                  <name>Data Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Send Keep Alive On Timeout</key>
                                        
                <value>
                                              
                  <name>Send Keep Alive On Timeout</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>target-system-timestamp-precision</key>
                                        
                <value>
                                              
                  <name>target-system-timestamp-precision</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Use Compression</key>
                                        
                <value>
                                              
                  <name>Use Compression</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-configuration-service</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                              
                  <name>proxy-configuration-service</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Type</key>
                                        
                <value>
                                              
                  <name>Proxy Type</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host</key>
                                        
                <value>
                                              
                  <name>Proxy Host</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Port</key>
                                        
                <value>
                                              
                  <name>Proxy Port</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Username</key>
                                        
                <value>
                                              
                  <name>Http Proxy Username</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Password</key>
                                        
                <value>
                                              
                  <name>Http Proxy Password</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>et-state-cache</key>
                                        
                <value>
                                              
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                                              
                  <name>et-state-cache</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>et-time-window</key>
                                        
                <value>
                                              
                  <name>et-time-window</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>et-initial-listing-target</key>
                                        
                <value>
                                              
                  <name>et-initial-listing-target</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Minimum File Age</key>
                                        
                <value>
                                              
                  <name>Minimum File Age</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Maximum File Age</key>
                                        
                <value>
                                              
                  <name>Maximum File Age</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Minimum File Size</key>
                                        
                <value>
                                              
                  <name>Minimum File Size</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Maximum File Size</key>
                                        
                <value>
                                              
                  <name>Maximum File Size</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Ciphers Allowed</key>
                                        
                <value>
                                              
                  <name>Ciphers Allowed</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Algorithms Allowed</key>
                                        
                <value>
                                              
                  <name>Key Algorithms Allowed</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Exchange Algorithms Allowed</key>
                                        
                <value>
                                              
                  <name>Key Exchange Algorithms Allowed</name>
                                          
                </value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Message Authentication Codes Allowed</key>
                                        
                <value>
                                              
                  <name>Message Authentication Codes Allowed</name>
                                          
                </value>
                                    
              </entry>
                              
            </descriptors>
                            
            <executionNode>PRIMARY</executionNode>
                            
            <lossTolerant>false</lossTolerant>
                            
            <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                            
            <penaltyDuration>30 sec</penaltyDuration>
                            
            <properties>
                                  
              <entry>
                                        
                <key>listing-strategy</key>
                                        
                <value>timestamps</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Hostname</key>
                                        
                <value>181.174.75.121</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Port</key>
                                        
                <value>22</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Username</key>
                                        
                <value>srjefers</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Password</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Path</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Private Key Passphrase</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Remote Path</key>
                                        
                <value>/home/srjefers/Documents/TMP/move</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>record-writer</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Distributed Cache Service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Search Recursively</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>follow-symlink</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>File Filter Regex</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Path Filter Regex</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Ignore Dotted Files</key>
                                        
                <value>true</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Strict Host Key Checking</key>
                                        
                <value>false</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Host Key File</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Connection Timeout</key>
                                        
                <value>30 sec</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Data Timeout</key>
                                        
                <value>30 sec</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Send Keep Alive On Timeout</key>
                                        
                <value>true</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>target-system-timestamp-precision</key>
                                        
                <value>auto-detect</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Use Compression</key>
                                        
                <value>true</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>proxy-configuration-service</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Type</key>
                                        
                <value>DIRECT</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Host</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Proxy Port</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Username</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Http Proxy Password</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>et-state-cache</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>et-time-window</key>
                                        
                <value>3 hours</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>et-initial-listing-target</key>
                                        
                <value>all</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Minimum File Age</key>
                                        
                <value>0 sec</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Maximum File Age</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Minimum File Size</key>
                                        
                <value>0 B</value>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Maximum File Size</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Ciphers Allowed</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Algorithms Allowed</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Key Exchange Algorithms Allowed</key>
                                    
              </entry>
                                  
              <entry>
                                        
                <key>Message Authentication Codes Allowed</key>
                                    
              </entry>
                              
            </properties>
                            
            <retryCount>10</retryCount>
                            
            <runDurationMillis>0</runDurationMillis>
                            
            <schedulingPeriod>0 sec</schedulingPeriod>
                            
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            
            <yieldDuration>1 sec</yieldDuration>
                        
          </config>
                      
          <deprecated>false</deprecated>
                      
          <executionNodeRestricted>true</executionNodeRestricted>
                      
          <name>ListSFTP</name>
                      
          <relationships>
                            
            <autoTerminate>false</autoTerminate>
                            
            <name>success</name>
                            
            <retry>false</retry>
                        
          </relationships>
                      
          <restricted>false</restricted>
                      
          <state>STOPPED</state>
                      
          <style/>
                      
          <type>org.apache.nifi.processors.standard.ListSFTP</type>
                  
        </processors>
            
      </snippet>
          
      <timestamp>06/27/2022 14:03:33 CST</timestamp>
      
    </template>
  </rootGroup>
  <controllerServices/>
  <reportingTasks/>
</flowController>
